
<div class="container">
  <form >
    <div class="form-group">
      <br/>
      <label > Enter Your Country </label>
      <input type="text"   placeholder="Enter Your Country" class="form-control"  name="city" [(ngModel)]="city"   >
<br/>
      <label > Enter Your State</label>

      <input type="text"  class="form-control" placeholder="Enter Your State" name="code" [(ngModel)]="code"   >

    </div>
    <button class="btn btn-success" (click)="saveForm()">Search</button>


  </form>

</div>
