.form-control {
    display: block;
    width: 91%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 35px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 /* form{
    width: 1000px;
    height: 300px;
    margin-left: 40px;
    border: 1px solid;
    margin-top: -24px;
} */
/* .btn{
    margin-left: 26em;
    margin-top: 25px;
    width: 115px;
    height: 44px;
}
label{
    margin-left: 37px;
    color: black;
    font-size: 21px;
}  */

.btn{
    margin-left: 58px;
}
