<!-- <div class="container">
  <div class="info">
    <h1><strong> City:</strong>{{weather.city.name}}</h1>
    <h3>Longitude:{{weather.city.coord.lon}}</h3>
    <h3>Longitude:{{weather.city.coord.lat}}</h3>
    <h3><strong>Temp</strong>:{{weather.list[0].main.temp}}</h3>
    <h3><strong>TempMax:</strong>{{weather.list[0].main.temp_max}}  </h3>
    <h3><strong>TempMin: </strong>{{weather.list[0].main.temp_min}}</h3>
    <h3> <strong>The weather description:</strong> {{weather.list[0].weather[0].description}}</h3>
    <h3> <strong>Humidity :</strong>{{weather.list[0].main.humidity}}</h3>

  </div> -->

  <table>
    <tr>
      <td>City:</td>
      <td>{{weather.city.name}}</td>
      
    </tr>
    <tr>
      <td>Longitude:</td>
      <td>{{weather.city.coord.lon}}</td>
      
    </tr>
    <tr>
      <td>Longitude:</td>
      <td>{{weather.city.coord.lat}}</td>
  
    </tr>
    <tr>
      <td>Temperature:</td>
      <td>{{weather.list[0].main.temp}}</td>
      
    </tr>
    <tr>
      <td>TempMax:</td>
      <td>{{weather.list[0].main.temp_max}}</td>
   
    </tr>
    <tr>
      <td>TempMin:</td>
      <td>{{weather.list[0].main.temp_min}}</td>
      
    </tr>
    <tr>
      <td>The weather description:</td>
      <td>{{weather.list[0].weather[0].description}}</td>
     
    </tr>
  </table>
<!-- </div> -->
